/*
Text Color (Gray13): #212121;
  Primary Color (Red): #A9000E;
Secondary Color (Gray): #ABABAB;
Tertiary Color (Yellow): #cead00;
*/

html, body {
  background-color: #f7f8fb;
  color: black;
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

header .row div {
  height: auto;
}

main .row div,
main .row content {
  background-color: inherit;
  height: auto;
}

footer .row div {
  background-color: inherit;
  height: 50px;
}

.img-fluid. {
  height: auto;
  max-width: 120px;
}

.navbar {
  font-size: 1.5vw;
  padding: 0;
}

.form-control {
  font-size: 1.5vw;
}

.title {
  font-family: "Bubblegum Sans", sans-serif;
  font-size:9vw;
  font-weight: bold;
  text-align: center;
}

.dateStyle {
  color: #A9000E;
  font-family: "Permanent Marker", sans-serif;
  font-size: 9vw;
  font-weight: bold;
  text-align: center;
}

.hero-bkg-animated {
  -webkit-animation: slide 20s linear infinite;
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  box-sizing: border-box;
  height: 4000px;
  margin: 0;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

/* Background animation by subz - https://tinyurl.com/y4ezm4bs */

/* .capital {
  text-transform:capitalize;
} */

#pokemonItem {
  background-color:inherit;
  border:inherit;
}

#pokemonButton {
  background-color: #A9000E;
  border-radius: 80px;
  box-shadow: 0 4px black;
  color: #FFF;
  font-family: "Neucha", sans-serif;
  font-size:4vw;
  text-align: center;
  width: auto;
  text-transform:capitalize;  
}

/* start of modal elements  */

.modal {
  background: rgba(99, 14, 24, 0.9);
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  border-radius: 28px;
  display: none;
  height: auto;
  left: 20px;
  padding: 20px;
  right: 20px;
  text-align: center;
  top: 100px;
  width: 60%;
}

#modal-container.is-visible {

  color: #EBEBEB; /* text color on modal */
  display: block;
  font-size: 18px;
  height: auto;
  position: fixed;
  z-index: 3000;
}

.modal h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 3.5vw;
  margin-top: 0;
}

.modal p {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 3vw;
  margin-bottom: 0;
  margin-top: 0;
}

.modal-body {
  position: relative;
  text-transform:capitalize;
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

.modal-close {
  -webkit-appearance: none;
  background-color: inherit;
  border: solid 0.5px #cead00;
  border-radius: 12px;
  color: #fff;
  float: right;
  font-family: "Bubblegum Sans", sans-serif;
}

.modal-close:hover {
  /* No underlining when hovering over a link */
  background-color: #461820;
  border: solid 1px #797979;
}

 .modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;
}

/*  end of modals */

.footer {
  padding: 100px;
}

/* media queries  */

@media screen and (max-width: 1200px) {
  #pokemonButton {
    font-size:6vw;
  }

  .title {
    font-size: 9vw;
  }

  .dateStyle {
    font-size: 9vw;
  };
}

@media screen and (max-width: 750px) {
  #pokemonButton {
    font-size:7vw;
  }

  .title {
    font-size: 9vw;
  }

  .dateStyle {
    font-size: 9vw;
  };
}

@media screen and (max-width: 520px) {
  #pokemonButton {
    font-size7vw;
  }

  .title {
    font-size: 9vw;
  }

  .dateStyle {
    font-size: 9vw;
  };
}

@media screen and (max-width: 360px) {
  #pokemonButton {
    font-size:10vw;
  }

  .title {
    font-size:10vw;
  }

  .dateStyle {
    font-size: 10vw;
  };
}
