/*
Text Color (Gray13): #212121;
Primary Color (Dark Red): #781820;
Secondary Color (Gray): #ABABAB;
Tertiary Color (Yellow): #cead00;
*/

header .row div {
  background-color: pink;
  border: 1px solid tomato;
  height: 50px;
}

main .row div,
main .row content {
  background-color: lightgreen;
  border: 1px solid green;
  height: auto;
}

footer .row div {
  background-color: lightyellow;
  border: 1px solid orange;
  height: 50px;
}

#pokemonItem {
  background-color:inherit;
  border:inherit;
}

#pokemonButton {
  background-color: #781820;
  color: #FFF;
  /* border: inherit;
  justify-content: center; */
  text-align: center;
  width: 20%;
}
